<a href="https://colab.research.google.com/github/25041066NegreteSimentalJuanDiego/Probabilidad-y-Estadistica/blob/main/Unidad1/Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROBABILIDAD Y ESTADISTICA
##Unidad 1
###Tabla de frecuencias y regla de Sturges.
###Facilitador: Jose Gabriel Rodriguez Rivas
###Negrete Simental Juan Diego

In [1]:
#Basado en el LIBRO estadistica para administracion pag 12
#Creamos una lista vacia que representa la edad de 100 personas
import random
edades = []
#Hacemos un ciclo para generar 100 numeros aleatorios que representan la edad de las personas
for i in range (100):
  #generamos un numero aleatorio con la funcion randint y la guaradmos en la variable
  #numero_aleatorio
  numero_aleatorio = random.randint(18,70)
  #Agregamos el numero aleatorio a la lista de valores
  edades.append (numero_aleatorio)
print(edades)

[46, 26, 24, 50, 31, 25, 50, 35, 27, 42, 45, 38, 27, 61, 69, 54, 33, 35, 21, 43, 22, 56, 56, 62, 33, 52, 34, 18, 66, 32, 24, 41, 19, 66, 48, 57, 59, 60, 41, 20, 18, 43, 69, 63, 28, 31, 44, 44, 18, 66, 49, 60, 45, 63, 51, 44, 53, 57, 63, 44, 23, 34, 43, 60, 35, 41, 24, 68, 61, 21, 53, 39, 31, 69, 34, 54, 56, 57, 30, 68, 18, 65, 45, 31, 51, 53, 69, 20, 32, 46, 54, 23, 62, 42, 67, 31, 53, 48, 47, 42]

In [2]:
import pandas as pd

In [3]:
#crear un dataframe de pandas con los numeros aleatorios
df = pd.DataFrame(edades, columns = ["Edad"])
df.head()

   Edad
0    46
1    26
2    24
3    50
4    31

In [4]:
#Calcular la tabla de distribucion de frecuencias
tabla_frecuencias=df["Edad"].value_counts().reset_index()
tabla_frecuencias.columns= ["Edad", "Frecuancia"]
tabla_frecuencias= tabla_frecuencias.sort_values(by='Edad')

#imprimir la tabla de distribucion de frecuencias
print("tabla de distribucion de frecuencias")
tabla_frecuencias

tabla de distribucion de frecuencias

    Edad  Frecuancia
4     18           4
34    19           1
29    20           2
28    21           2
35    22           1
23    23           2
10    24           3
32    25           1
31    26           1
24    27           2
38    28           1
41    30           1
0     31           5
26    32           2
25    33           2
15    34           3
11    35           3
33    38           1
40    39           1
8     41           3
5     42           3
17    43           3
3     44           4
12    45           3
20    46           2
44    47           1
30    48           2
37    49           1
18    50           2
21    51           2
36    52           1
2     53           4
9     54           3
6     56           3
16    57           3
39    59           1
13    60           3
19    61           2
27    62           2
14    63           3
42    65           1
7     66           3
43    67           1
22    68           2
1     69           4

In [5]:
tabla_frecuencias["Frec Relativa"] = tabla_frecuencias["Frecuancia"] / 100
tabla_frecuencias

    Edad  Frecuancia  Frec Relativa
4     18           4           0.04
34    19           1           0.01
29    20           2           0.02
28    21           2           0.02
35    22           1           0.01
23    23           2           0.02
10    24           3           0.03
32    25           1           0.01
31    26           1           0.01
24    27           2           0.02
38    28           1           0.01
41    30           1           0.01
0     31           5           0.05
26    32           2           0.02
25    33           2           0.02
15    34           3           0.03
11    35           3           0.03
33    38           1           0.01
40    39           1           0.01
8     41           3           0.03
5     42           3           0.03
17    43           3           0.03
3     44           4           0.04
12    45           3           0.03
20    46           2           0.02
44    47           1           0.01
30    48           2           0.02
37    49           1           0.01
18    50           2           0.02
21    51           2           0.02
36    52           1           0.01
2     53           4           0.04
9     54           3           0.03
6     56           3           0.03
16    57           3           0.03
39    59           1           0.01
13    60           3           0.03
19    61           2           0.02
27    62           2           0.02
14    63           3           0.03
42    65           1           0.01
7     66           3           0.03
43    67           1           0.01
22    68           2           0.02
1     69           4           0.04

In [6]:
tabla_frecuencias["Frec Porcentual"] = tabla_frecuencias["Frecuancia"] / 100 * 100
tabla_frecuencias

    Edad  Frecuancia  Frec Relativa  Frec Porcentual
4     18           4           0.04              4.0
34    19           1           0.01              1.0
29    20           2           0.02              2.0
28    21           2           0.02              2.0
35    22           1           0.01              1.0
23    23           2           0.02              2.0
10    24           3           0.03              3.0
32    25           1           0.01              1.0
31    26           1           0.01              1.0
24    27           2           0.02              2.0
38    28           1           0.01              1.0
41    30           1           0.01              1.0
0     31           5           0.05              5.0
26    32           2           0.02              2.0
25    33           2           0.02              2.0
15    34           3           0.03              3.0
11    35           3           0.03              3.0
33    38           1           0.01              1.0
40    39           1           0.01              1.0
8     41           3           0.03              3.0
5     42           3           0.03              3.0
17    43           3           0.03              3.0
3     44           4           0.04              4.0
12    45           3           0.03              3.0
20    46           2           0.02              2.0
44    47           1           0.01              1.0
30    48           2           0.02              2.0
37    49           1           0.01              1.0
18    50           2           0.02              2.0
21    51           2           0.02              2.0
36    52           1           0.01              1.0
2     53           4           0.04              4.0
9     54           3           0.03              3.0
6     56           3           0.03              3.0
16    57           3           0.03              3.0
39    59           1           0.01              1.0
13    60           3           0.03              3.0
19    61           2           0.02              2.0
27    62           2           0.02              2.0
14    63           3           0.03              3.0
42    65           1           0.01              1.0
7     66           3           0.03              3.0
43    67           1           0.01              1.0
22    68           2           0.02              2.0
1     69           4           0.04              4.0

In [12]:
tabla_frecuencias["Frec Acumulada"] = tabla_frecuencias["Frecuancia"].cumsum()
tabla_frecuencias

    Edad  Frecuancia  Frec Relativa  Frec Porcentual  Frec Acumulada
4     18           4           0.04              4.0               4
34    19           1           0.01              1.0               5
29    20           2           0.02              2.0               7
28    21           2           0.02              2.0               9
35    22           1           0.01              1.0              10
23    23           2           0.02              2.0              12
10    24           3           0.03              3.0              15
32    25           1           0.01              1.0              16
31    26           1           0.01              1.0              17
24    27           2           0.02              2.0              19
38    28           1           0.01              1.0              20
41    30           1           0.01              1.0              21
0     31           5           0.05              5.0              26
26    32           2           0.02              2.0              28
25    33           2           0.02              2.0              30
15    34           3           0.03              3.0              33
11    35           3           0.03              3.0              36
33    38           1           0.01              1.0              37
40    39           1           0.01              1.0              38
8     41           3           0.03              3.0              41
5     42           3           0.03              3.0              44
17    43           3           0.03              3.0              47
3     44           4           0.04              4.0              51
12    45           3           0.03              3.0              54
20    46           2           0.02              2.0              56
44    47           1           0.01              1.0              57
30    48           2           0.02              2.0              59
37    49           1           0.01              1.0              60
18    50           2           0.02              2.0              62
21    51           2           0.02              2.0              64
36    52           1           0.01              1.0              65
2     53           4           0.04              4.0              69
9     54           3           0.03              3.0              72
6     56           3           0.03              3.0              75
16    57           3           0.03              3.0              78
39    59           1           0.01              1.0              79
13    60           3           0.03              3.0              82
19    61           2           0.02              2.0              84
27    62           2           0.02              2.0              86
14    63           3           0.03              3.0              89
42    65           1           0.01              1.0              90
7     66           3           0.03              3.0              93
43    67           1           0.01              1.0              94
22    68           2           0.02              2.0              96
1     69           4           0.04              4.0             100